<div class="col mat-elevation-z8 px-0">
  <div class="card-panel mt-0 teal lighten-2"><h5 class="text-white">Vehiculos parqueados</h5></div>
  <div class="col">
    <table class="responsive-table striped">
      <thead>
        <tr>
          <th class="text-center" *ngFor="let head of displayedColumns">{{ head }}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let vehiculo of vehiculosParqueados">
          <td class="text-center">{{ vehiculo.placa }}</td>
          <td class="text-center">{{ vehiculo.tipoDeVehiculo | titlecase }}</td>
          <td>{{ vehiculo.horaDeEntrada | date: "medium" }}</td>
          <td
            id="btnSacarVehiculo-{{vehiculo.placa}}"
            (click)="solicitarSalidaDeVehiculo(vehiculo.placa)"
            class="text-center"
          >
            <a
              href="javascript:void(0)"
              class="btn-floating waves-effect waves-light btn-small"
              ><i class="material-icons left">check</i></a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
