<div class="col mat-elevation-z8 px-0">
  <div class="card-panel mt-0 teal lighten-2 text-center">
    <h5 class="text-white">Registrar Entrada</h5>
  </div>
  <form (ngSubmit)="registrarEntrada()">
    <div class="input-field col s12">
      <input
        [(ngModel)]="vehiculo.placa"
        id="placa"
        name="placa"
        type="text"
        class="validate"
      />
      <label for="placa">Placa</label>
    </div>

    <mat-form-field class="col s12">
      <mat-select
        [(ngModel)]="vehiculo.tipoDeVehiculo"
        id="tipoDeVehiculo"
        name="tipoDeVehiculo"
        placeholder="Tipo de Vehículo"
      >
        <mat-option value="CARRO">Carro</mat-option>
        <mat-option value="MOTO">Moto</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="vehiculo.tipoDeVehiculo === 'MOTO'" class="input-field col s12">
      <input
        [(ngModel)]="vehiculo.cilindraje"
        id="cilindraje"
        name="cilindraje"
        type="number"
        class="validate"
      />
      <label for="cilindraje">Cilindraje</label>
    </div>
    <div class="col text-center py-3">
      <button type="submit" id="btnRegistro" class="waves-effect waves-light btn">
        Agregar
      </button>
    </div>
  </form>
</div>
